name: First Workflow

on:
  push:
    branches:
      - main

jobs:
  example-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print a welcome message
        run: echo "Welcome to our first GitHub Actions workflow!"
      
      - name: Checkout repository 
        uses: actions/checkout@v6.0.1


      - name: List repo files
        run: ls -la
